

body{background-color:#C90D23 ;color:#E6DF3A}
a:link {color: #E6DF3A  ;}
a:visited {color: #E6DF3A;}
a:hover {color: #FFE946 ;background-color: transparent;}
h1{color:#E6DF3A}
img{width: 33%;}
nav a { color: #000000;}
